<!-- {% load staticfiles %} -->
<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- <img src="{% static "my_app/example.jpg" %}" alt="My image"/> -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'proyecto/estilos.css' %}" type="text/css"  >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- <link href="{% static 'path to your file.css' %}" rel="stylesheet"> -->
    <title>SBC</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'proyecto' %}">Buscador</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
    <section class="container">
      <div class="formulario">
        <div class="card" >
          {% load static %}
          <div class="card-body">
            <img class="img-fluid"  src="{% static 'proyecto/media/logo.png' %}" >
            <form  method="post">
              {% csrf_token %}
              <div class="form-group">
                {{ form.as_p }}
              </div>
              <button type="submit" name="button" id="boton" class="btn btn-primary">Buscar</button>
            </form>
          </div>
        </div>
      </div>
      {% block content %}
      {% endblock %}
    </section>
  </body>
</html>
