#id_query{
  width: 80%;
  margin: auto;
  font-size: 20px;
}
.formulario{
  margin: auto;
  margin-top: 4em;
  width: 50%;
  text-align: center;

}
.titulo{
  margin-top: 1em;
  text-align: center;
}

#map {
  height: auto;
}
.imagen{
  margin: auto;
  width: 80%;
}
#boton{
  width: 40%;
}
.script{
display: inline-block;
}
